{% extends "base.html" %}
{% load static %}
{% block title %}Testimonials | Luxgery{% endblock %}

{% block content %}
<section class="testimonios">
  <div class="container">
    <h2>Testimonials</h2>
    <div class="testimonios-grid">

      <div class="testimonio-card">
        <video src="{% static 'videos/testimonios/michell_rivera.mp4' %}" controls></video>
        <p>Michelle Rivera</p>
      </div>

      <div class="testimonio-card">
        <video src="{% static 'videos/testimonios/maria_liliana_alzate.mp4' %}" controls></video>
        <p>Maria Liliana Alzate</p>
      </div>

      <div class="testimonio-card">
        <video src="{% static 'videos/testimonios/ana_alzate.mp4' %}" controls></video>
        <p>Ana Alzate</p>
      </div>

    </div>
  </div>
</section>
{% endblock %}
